<main>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Study Schedule</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="card">
        <div class="card-body">
          <p><strong>Day:</strong> {{ schedule.days }}</p>
          <div *ngFor="let time of timeSlots" class="mb-3">
            <h3 class="text-danger">{{ time }}</h3>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let subject of schedule[time]">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="selectedSubject" [value]="subject" (change)="onSubjectSelect(subject)">
                  <label class="form-check-label">
                    {{ getSubjectAbbr(subject) }}
                  </label>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Stopwatch</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>{{ displayTime }}</h2>
      <ion-button (click)="startTimer()" [disabled]="running">Start</ion-button>
      <ion-button (click)="pauseTimer()" [disabled]="!running">Pause</ion-button>
      <ion-button (click)="resetTimer()">Reset</ion-button>
      <ion-button (click)="saveTime(displayTime)">Save Time</ion-button>
    </ion-card-content>
  </ion-card>





</main>
