<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-title">{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="folder === 'weeksalary'">
    <div id="container">
      <app-salarycard [salary]="salaryData"></app-salarycard>
    </div>
  </ng-container>
  <ng-container *ngIf="folder === 'progress'">
    <div id="container-normal">
      <app-progress-show
        (refreshData)="refreshData($event)"
        [salary]="salaryData"
      ></app-progress-show>
    </div>
  </ng-container>
  <ng-container *ngIf="folder === 'mistake'">
    <div id="container-normal">
      <app-mistake-card [salary]="salaryData"></app-mistake-card>
    </div>
  </ng-container>
</ion-content>
