<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-title">{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
   <ng-container *ngIf="folder === 'weeksalary'">
    <app-salarycard [salary] = "salaryData"></app-salarycard>
   </ng-container>
  </div>
  <div id="container-normal">
      <ng-container *ngIf="folder === 'progress'">
      <app-progress-show (refreshData)="refreshData($event)" [salary] = "salaryData"></app-progress-show>
     </ng-container>
  </div>
</ion-content>
